<!DOCTYPE html>    
<html>    
<head>    
    <title>Students Management</title>    
</head>    
<body>    
    <h2>List Students</h2><br>   
    <a href='/'>HOME</a>
    <div class="fetchform">    
        <form action="/fetchstudents" method = "GET">
            <p>Fetch Students: <input type = "submit" value = "Fetch" /></p>
         </form>
    </div>   
    <div class="studentslist">
        {% for student in students %}
        <p>{{ student.firstname}} {{ student.lastname}} </p> 
        {% endfor %}
</div> 
</body>    
</html>